.w3-light-grey {
    width: 50vw;
    display: flex;
    margin-left: 25vw;
}

.space {
    display: flex;
    padding-left: 50px;
}

h1 {
    text-align: center;
}

.money {
    margin-left: 50vw;
}

.bank {
    margin-top: 25vw;
    text-align: center;
}

.back {
    font-size: 300%;
    padding-top: 5vw;
    padding-left: 5vw;
}

.arrow :hover {
    color: darkblue;
}

body {
    line-height: 0px;
}

.progress {
    display: flex;
    width: 100%;
    background: white;
    height: 25px;
    align-items: stretch;
    margin-top: 25px;

}

.bar {
    background-color: #333333;

}

.all {
    margin: 0px auto;
    margin-top: 25px;
    font-family: Impact, serif;
    color: #333333;
}
